<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<footer class="site-footer">
  <div class="container">
    <div class="row">

      <div class="col-xs-6 col-md-3">
        <a href="https://bnpb.go.id/" target="_blank"><img src="https://bnpb.go.id/frontend/images/logo-footer.png" width="250" ></a><br/>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Kantor Pusat</h6>
        <b class="text-justify">Graha BNPB - Jl. Pramuka Kav.38 Jakarta Timur 13120</b>
        <p class="text-justify">Telp. 021-29827793</p>
        <p class="text-justify">Fax. 021-21281200</p>
        <p class="text-justify">Email: persuratan@bnpb.go.id</p>
        <b class="text-justify">Pusdalop BNPB</b>
        <p class="text-justify">Telp. 021-29827444 , 117</p>
        <p class="text-justify">+62 812 1237 575</p>
        <p class="text-justify">Email: pusdalops@bnpb.go.id</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Tautan Terkait</h6>
        <ul class="footer-links">
          <li><a href="https://bnpb.go.id/nasional">Nasional</a></li>
          <li><a href="https://bnpb.go.id/internasional">Internasional</a></li>
          <li><a href="https://bnpb.go.id/bpbd-propinsi">BPBD Provinsi</a></li>
          <li><a href="https://bnpb.go.id/bpbd-kota-kabupaten">BPBD Kabupaten Kota</a></li>
          <li><a href="https://bnpb.go.id/sitemap">Peta Situs</a></li>
        </ul>
      </div>
     
        <div class="col-xs-6 col-md-3">
          <h6>BERLANGGANAN</h6>
          <p class="form-news">Dapatkan informasi terbaru seputar bencana di Indonesia</p>
          <form action="#" onsubmit="return false" class="subscribe-form">
            <input type="email" name="email" placeholder="Enter email address">
            <input type="submit" value="Kirim">
          </form>
        </div>

    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
         <p class="copyright-text">Copyright &copy; 2022
     <a href="https://www.bnpb.go.id" target="_blank">Badan Nasional Penanggulangan Bencana</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <a class="instagram" href="https://www.instagram.com/bnpb_indonesia/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a class="twitter" href="https://twitter.com/BNPB_Indonesia" target="_blank"><i class="fab fa-twitter"></i></a>
          <a class="youtube" href="https://www.youtube.com/user/BNPBIndonesia/" target="_blank"><i class="fab fa-youtube"></i></a> 
          <a class="facebook" href="https://www.facebook.com/InfoBencanaBNPB" target="_blank"><i class="fab fa-facebook"></i></a>  
        </ul>
      </div>
    </div>
  </div>
</footer>
