<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<footer class="site-footer">
  <div class="container">
    <div class="row">

      <div class="col-xs-6 col-md-3">
        <div class="footer-logo">
          <a href="https://bnpb.go.id/"><img src="https://bnpb.go.id/frontend/images/logo-footer.png" class="img-fluid" alt="logo"></a>
        </div>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Kantor Pusat</h6>
        <b class="text-justify">Graha BNPB - Jl. Pramuka Kav.38 Jakarta Timur 13120</b>
        <p class="text-justify">Telp. 021-29827793</p>
        <p class="text-justify">Fax. 021-21281200</p>
        <p class="text-justify">Email: persuratan@bnpb.go.id</p>
        <b class="text-justify">Pusdalop BNPB</b>
        <p class="text-justify">Telp. 021-29827444 , 117</p>
        <p class="text-justify">+62 812 1237 575</p>
        <p class="text-justify">Email: pusdalops@bnpb.go.id</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Tautan Terkait</h6>
        <ul class="footer-links">
          <li><a href="https://bnpb.go.id/nasional">Nasional</a></li>
          <li><a href="https://bnpb.go.id/internasional">Internasional</a></li>
          <li><a href="https://bnpb.go.id/bpbd-propinsi">BPBD Provinsi</a></li>
          <li><a href="https://bnpb.go.id/bpbd-kota-kabupaten">BPBD Kabupaten Kota</a></li>
          <li><a href="https://bnpb.go.id/sitemap">Peta Situs</a></li>
        </ul>
      </div>
     
        <div class="col-xs-6 col-md-3">
          <h6>BERLANGGANAN</h6>
            <div class="form-news">
              <p>Dapatkan informasi terbaru seputar bencana di Indonesia.</p>
            </div>
            <div class="subscribe-form">
              <form action="#">
                <input type="text" placeholder="Email Address">
                <button><i class="fab fa-telegram-plane"></i></button>
              </form>
            </div>
        </div>
    </div>
  
  </div>
  <div class="copyright-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                <div class="copyright-text">
                    <p>Copyright &copy; 2022, All Right Reserved <a href="https://bnpb.go.id/">Badan Nasional Penanggulangan Bencana</a></p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 text-center text-lg-right">
              <ul class="footer-social-icon">
                <a href="https://www.instagram.com/bnpb_indonesia/" target="_blank"><i class="fab fa-instagram instagram-bg"></i></a>
                <a href="https://twitter.com/BNPB_Indonesia" target="_blank"><i class="fab fa-twitter twitter-bg"></i></a>
                <a href="https://www.youtube.com/user/BNPBIndonesia/" target="_blank"><i class="fab fa-youtube youtube-bg"></i></a> 
                <a href="https://www.facebook.com/InfoBencanaBNPB" target="_blank"><i class="fab fa-facebook-f facebook-bg"></i></a>  
              </ul>
            </div>
        </div>
    </div>
</div>
</footer>
