<!--

This file overrides the layout1.html in
/usr/lib/ckan/default/src/ckan/ckan/templates/home/.

In the future, we could likely push a new item to the front page layouts
dropdown in the settings page and rename this file layout4.html.

-->

<div class="container-fluid main">

  <div id="myCarousel" class="carousel carousel-fade slide" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner" role="listbox">
      <div class="item active background a"></div>
      <div class="item background b"></div>
      <div class="item background c"></div>
    </div>
  </div>
  
  <div class="covertext">
    <div class="col-lg-10" style="float:none; margin:0 auto;">
      <h1 class="title">Portal Satu Data Bencana Indonesia</h1>
      <!-- <h3 class="subtitle">Temukan Data Bencana Dengan Mudah</h3> -->
    </div>
    <div class="col-xs-12 explore">
      <a href="#"><button type="button" class="btn btn-lg explorebtn">EXPLORE</button></a>
    </div>
  </div>

</div>


<div role="main" class="main-search">
  <div class="container">
    <div class="row row2">
      <div class="col-md-12 col1">
        {% snippet 'home/snippets/search.html' %}
      </div>
    </div>
  </div>
</div>

<div role="main" class="main-search">
  <div class="container">
    <div class="row row2">
      <div class="col-md-12 col1">
        {% snippet 'home/snippets/stats.html' %}
      </div>
    </div>
  </div>
</div>

<div role="main" class="main-browse">
  <div class="container">
    <div class="row row2">
      <div class="col-md-12 col1">
        <div class="module-content box">
          <h1 class="browse-heading">Fase Penanggulangan Bencana</h1>
          <div>
              {% for topic in h.sdbi_theme_groups() %}
                <a href="/group/{{ topic.name }}" class="browse-topic">
                    <img class="browse-topic-image" src="{{ topic.image_display_url or '/img/icons-document.svg' }}">
                  <div class="browse-topic-title">
                    {{ topic.display_name }}
                  </div>
                </a>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div role="main" class="main-updates">
  <div class="container">
    <div class="row row2">
      <div class="col-md-6 col1">
        {% snippet 'home/snippets/latest_datasets.html' %}
      </div>
      <div class="col-md-6 col2">
        <div class="module-content box">
          <h2 class="secondary-heading">Tweets</h2>
          <a class="twitter-timeline"  height="420" data-chrome="nofooter noscrollbar  noheader transparent" href="https://twitter.com/BNPB_Indonesia" data-widget-id="547080711753449472">Tweets by @BNPB_Indonesia</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
    </div>
  </div>
</div>
