<!--

This file overrides the layout1.html in
/usr/lib/ckan/default/src/ckan/ckan/templates/home/.

In the future, we could likely push a new item to the front page layouts
dropdown in the settings page and rename this file layout4.html.

-->

<div class="container-fluid main">

  <div id="myCarousel" class="carousel carousel-fade slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>


    <div class="carousel-inner">
      <div class="carousel-caption item active background a">
          <h1>Pendataan Pengungsi</h1>
          <p>Pendataan titik pengungsian terpilah dilakukan dengan tujuan mengumpulkan data jumlah pengungsi per titik pengungsian</p>
          <p><a class="btn btn-lg btn-primary" href="https://gis.bnpb.go.id/arcgis/apps/sites/?fromEdit=true#/public/pages/dashboard-tanggap-darurat" target="_blank" role="button">Selengkapnya</a></p>
      </div>
      <div class="carousel-caption text-left item background b">
        <h1>Data Geospasial dan Drone</h1>
        <p>Halaman ini berisikan beberapa video, foto, maupun pemetaan yang dilakukan oleh beberapa pihak dalam mendukung penanganan bencana Awan Panas Guguran Gunung Semeru</p>
        <p><a class="btn btn-lg btn-primary" href="https://bit.ly/DokumentasiDroneSemeru" target="_blank" role="button">Selengkapnya</a></p>
      </div>
      <div class="carousel-caption text-left item background c">
        <h1>Galeri Peta</h1>
        <p>Halaman ini berisikan beberapa peta yang dihasilkan oleh Bidang Pengelolaan Data dan Sistem Informasi BNPB terkait dengan penanganan bencana Awan Panas Guguran Gunung Semeru</p>
        <p><a class="btn btn-lg btn-primary" href="https://gis.bnpb.go.id/arcgis/apps/sites/?fromEdit=true#/public/pages/galeri-peta-tanggap-darurat" target="_blank" role="button">Selengkapnya</a></p>
      </div>
      <div class="carousel-caption text-left item background d">
        <h1>Jumlah Total Pengungsi Bencana Erupsi G. Semeru 2021</h1>
        <p>Update 12 Desember 2021, sumber: Posko TD Semeru dan Dinas Sosial Kab. Lumajang</p>
        <p><a class="btn btn-lg btn-primary" href="https://gis.bnpb.go.id/peta/Pengungsi%20Desa_13122021.pdf" target="_blank" role="button">Selengkapnya</a></p>
      </div>
      <div class="carousel-caption text-left item background e">
        <h1>Lokakarya Satu Data Bencana Indonesia di Yogyakarta</h1>
        <p>BNPB melalui Pusat Data, Informasi dan Komunikasi Kebencanaan dan UNFPA memprakarsai lokakarya Satu Data Bencana (SDB) Indonesia di Daerah Istimewa Yogyakarta selama dua hari, 7-8 September 2022</p>
        <p><a class="btn btn-lg btn-primary" href="https://data.bnpb.go.id/blog/lokakarya-sdbi-diy" target="_blank" role="button">Selengkapnya</a></p>
      </div>
      <div class="carousel-caption text-left item background f">
        <h1>Satu Data Bencana Provinsi Nusa Tenggara Barat</h1>
        <p>Kegiatan Lokakarya Satu Data Bencana pada 12-13 September 2022 di Kota Mataram, Provinsi Nusa Tenggara Barat</p>
        <p><a class="btn btn-lg btn-primary" href="https://data.bnpb.go.id/blog/satu-data-bencana-provinsi-nusa-tenggara-barat" target="_blank" role="button">Selengkapnya</a></p>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <iframe src="https://gis.bnpb.go.id/dev/map" width="100%" height="700px"></iframe>
    </div>
  </div>
</div>


<div role="main" class="main-search">
  <div class="container">
    <div class="row row2">
      <div class="col-md-12 col1">
        {% snippet 'home/snippets/search.html' %}
      </div>
    </div>
  </div>
</div>

<div class="itemsss">
     <div class="itemss">
      <a href="https://data.bnpb.go.id/dataset/?fase=prabencana" target="_blank">
       <div class="itemss-content">
         <h55 class="itemss-category">Pra Bencana</h55>
         <p class="itemss-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor pretium cursus...</p>
       </div>
      </a>
     </div>
     <div class="itemss">
      <a href="https://data.bnpb.go.id/dataset/?fase=saatbencana" target="_blank">
       <div class="itemss-content">
         <h55 class="itemss-category">Saat Bencana</h55>
         <p class="itemss-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor pretium cursus...</p>
       </div>
      </a>
     </div>
     <div class="itemss">
      <a href="https://data.bnpb.go.id/dataset/?fase=pascabencana" target="_blank">
       <div class="itemss-content">
         <h55 class="itemss-category">Pascabencana</h55>
         <p class="itemss-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor pretium cursus...</p>
      </div>
      </a>
     </div>
</div>

<div role="main" class="main-search">
  <div class="container">
    <div class="row row2">
      <div class="col-md-12 col1">
        {% snippet 'home/snippets/stats.html' %}
      </div>
    </div>
  </div>
</div>

<div role="main" class="main-updates">
  <div class="container">
    <div class="row row2">
      <div class="col-md-6 col1">
        {% snippet 'home/snippets/latest_datasets.html' %}
      </div>
      <div class="col-md-6 col2">
        <div class="module-content box">
          <h2 class="secondary-heading">Tweets</h2>
          <a class="twitter-timeline"  height="420" data-chrome="nofooter noscrollbar  noheader transparent" href="https://twitter.com/BNPB_Indonesia" data-widget-id="547080711753449472">Tweets by @BNPB_Indonesia</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
    </div>
  </div>
</div>
