{% block header_site_navigation_tabs %}
    <li><a href="http://data.bnpb.go.id/" class="site-header__menu-item menu-item" title="Beranda">Beranda</a></li>
    <li><a href="http://data.bnpb.go.id/dataset" class="site-header__menu-item menu-item" title="Dataset">Dataset</a></li>
    <li><a href="http://data.bnpb.go.id/organization" class="site-header__menu-item menu-item" title="Berita">Organisasi</a></li>
    <li><a href="http://data.bnpb.go.id/showcase" class="site-header__menu-item menu-item" title="Berita">Aplikasi</a></li>
    <li><a href="http://data.bnpb.go.id/blog" class="site-header__menu-item menu-item" title="Tanggap Darurat">Tanggap Darurat</a></li>
    <li><a href="http://data.bnpb.go.id/about" class="site-header__menu-item menu-item" title="Tentang">Tentang</a></li>
{% endblock %}
