<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('Apa itu Produsen Data?') }}
    </h2>
    <div class="module-content">
      <p>
        {% trans %}
        Produsen Data adalah unit pada Instansi Pusat dan Instansi Daerah yang menghasilkan Data berdasarkan kewenangan sesuai dengan ketentuan peraturan perundang-undangan. (Perpres Nomor 39 Tahun 2019 tentang Satu Data Indonesia)
        {% endtrans %}
      </p>
    </div>
  </div>
